.card-purpose {
    display: block;
    width: 100%;

    font-family: var(--text-family, sans-serif);
    font-size: var(--text-size-main, 18px);
    font-weight: var(--text-weight-main, 500);

    text-align: center;

    line-height: 1.2;

    overflow: hidden;
}

.card-purpose__content {
    margin-bottom: 14px;
    padding: 5px;

    background-color: var(--purple, #E5087F);
    
    background-image: -webkit-linear-gradient(left, var(--purple, #E5087F), var(--navy, #502A84));
    background-image: -moz-linear-gradient(left, var(--purple, #E5087F), var(--navy, #502A84));
    background-image: linear-gradient(to right, var(--purple, #E5087F), var(--navy, #502A84));

    border-radius: 50%;

    overflow: hidden;
}

.card-purpose__video {
    padding: 10px;

    background-color: var(--white, #FFFFFF);
    border-radius: 50%;

    overflow: hidden;
}

.card-purpose__video .video__player {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .card-purpose {
        font-size: 14px;
    }    
}