.socials__title {
    margin-bottom: 5px;

    font-family: var(--text-family, sans-serif);
    font-size: 12px;
    font-weight: var(--text-weight-main, 500);

    line-height: 1.5;

    text-align: right;
}

.socials__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    white-space: nowrap;
}

.socials__item {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 10px;

    transition: 0.2s transform ease;
}

.socials__item:hover {
    transform: scale(1.1);
}

.socials__item:last-child {
    margin-right: 0;
}

.social__image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .socials__title {
        margin-bottom: 5px;
    }

    .socials__item {
        width: 20px;
        height: 20px;
        margin-right: 4px;

        background-size: 20px;
    }    
}