.panel-combo {
    display: grid;
    grid-template-columns: auto 250px 220px;
    grid-template-areas: "card images offer";
    justify-content: stretch;
    align-items: center;
    width: 100%;
    padding: 20px;

    color: var(--white, #FFFFFF);
    font-family: var(--text-family, sans-serif);

    background-color: var(--purple, #E5087F);
    background-image: -webkit-linear-gradient(left, var(--purple, #E5087F), var(--navy, #502A84));
    background-image: -moz-linear-gradient(left, var(--purple, #E5087F), var(--navy, #502A84));
    background-image: linear-gradient(to right, var(--purple, #E5087F), var(--navy, #502A84));

    background-repeat: no-repeat;

    border-radius: var(--border-radius, 12px);

    overflow: hidden;
}

.panel-combo__title {
    margin: 0 0 10px 0;

    font-size: var(--text-size-block-title, 32px);
    font-weight: var(--text-weight-bold, 600);

    line-height: 1.1;
}

.panel-combo__details {
    margin: 0;
    font-size: 22px;
    font-weight: var(--text-weight-normal, 500);

    line-height: 1.1; 
}

.panel-combo__item-text {
    font-weight: var(--text-weight-bold, 600) !important;
}

.panel-combo__images {
    grid-area: images;
    display: flex;
    height: 110px;
}

.panel-combo__image {
    width: 110px;
    height: 110px;
    margin-right: 10px;

    border-radius: var(--border-radius-flex, 12px);
    box-shadow: 2px 1px 15px 5px rgba(0, 0, 0, 0.3)
}

.panel-combo__image:last-child {
    margin-right: 0;
}

.panel-combo__offer {
    grid-area: offer;
}

.panel-combo__button {
    width: 100%;
}

.button_white {
    display: inline-block;
}

.panel-combo__price {
    margin-top: 10px;

    font-size: 18px;
    font-weight: var(--text-weight-bold, 600);

    line-height: 1;
    text-align: center;
}

.panel-combo__priceold {
    margin-left: 5px;

    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: var(--text-weight-main, 500);

    text-decoration: line-through;

    line-height: 1.15;
}

@media screen and (max-width: 1060px) {
    .panel-combo {
        grid-template-columns: auto 230px;
        grid-template-areas: "card images" "offer offer";
    }

    .panel-combo__offer {
        margin-top: 20px;
        
        text-align: center;
    }

    .panel-combo__button {
        width: 300px;
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .panel-combo__title {
        margin-right: 10px;

        font-size: 24px;
    }

    .panel-combo__details {
        margin: 0;
        font-size: 18px;
    }

    .panel-combo__price {
        font-size: 20px;
    }

    .panel-combo__priceold {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .panel-combo {
        grid-template-columns: auto 170px;
        gap: 20px;
        padding: 20px;

        font-size: 16px;

        line-height: 24px;
    }

    .panel-combo__title {
        margin: 0 0 12px 0;

        font-size: 20px;
    }

    .panel-combo__item-text {
        width: 100%;
        max-width: 100%;
    }

    .panel-combo__images {
        height: 80px;
    }

    .panel-combo__image {
        width: 80px;
        height: 80px;
    }

    .panel-combo__offer {
        margin-top: 0;
    }
}

@media screen and (max-width: 640px) {
    .panel-combo {
        display: block;
    }

    .panel-combo__title {
        margin-bottom: 10px;
    }

    .panel-combo__details {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .panel-combo__images {
        justify-content: center;
        margin-bottom: 20px;
    }
}