.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: clamp(20px, calc(20px + 44 * (100vw - 768px) / 672), 64px);
    gap: 44px;

    font-family: var(--text-family, sans-serif);
    font-size: var(--text-size-main, 18px);
    font-weight: var(--text-weight-main, 500);

    line-height: 1.5;

    background-color: var(--gray-lighter, #F7F7F7);
    border-radius: var(--border-radius, 12px);
}

.gallery__top {
    position: relative;
    grid-column: 1 / -1;
    width: 100%;
    padding-bottom: 50%;



    border-radius: var(--border-radius, 12px); 

    overflow: hidden;
}

.gallery__bottom {
    position: relative;
    width: 100%;
    padding-bottom: 85%;

    border-radius: var(--border-radius, 12px); 

    overflow: hidden;
}

.gallery__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: var(--border-radius, 12px);

    object-fit: cover;
    object-position: top;
}

.gallery__image_big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: var(--border-radius, 12px);

    object-fit: cover;
    object-position: top;
}

@media (max-width: 1024px) {
    .gallery {   
        gap: 36px;
    }
}

@media (max-width: 768px) {
    .gallery {   
        padding: 20px;
        gap: 24px;
    }
}

@media (max-width: 480px) {
    .gallery {   
        display: block;
    }

    .gallery__top {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 100%;
    }

    .gallery__bottom {
        margin-top: 24px;
        padding-bottom: 100%;
    }

    .gallery__image {
        
        margin-bottom: 24px;
    }
}