.purpose {
    width: 100%;

    padding: 64px 0 68px;

    font-family: var(--text-family, sans-serif);
    font-size: var(--text-size-main, 18px);
    font-weight: var(--text-weight-main, 500);

    line-height: 1.5;

    text-align: center;

    background-color: var(--gray-lighter, #F7F7F7);
    border-radius: var(--border-radius, 12px);

    overflow: hidden;
}

.purpose__title {
    margin: 0 0 34px 0;

    font-size: var(--text-size-block-title, 32px);
    font-weight: var(--text-weight-bold, 600);
    
    line-height: 1.3;
}

.purpose__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 708px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 44px;

    text-align: center;
}

.purpose__card {
    width: 100%;
    margin-right: 10px;
}

.purpose__card:last-child {
    margin-right: 0;
}

@media (max-width: 1024px) {
    .purpose {
        padding: 30px 0 32px;
    }
}

@media (max-width: 768px) {
    .purpose__title {
        margin: 0 0 26px 0;

        font-size: 26px;
        
        line-height: 1.3;
    }
    
    .purpose__cards {
        gap: 20px;
    }
}

@media (max-width: 640px) {
    .purpose {
        padding: 20px 0 22px;
    }


    .purpose__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .purpose__cards {
        flex-wrap: wrap;
    }

    .purpose__card {
        margin-bottom: 30px;
    }
}

@media (max-width: 360px) {
    .purpose__cards {
        grid-template-columns: auto;
    }
}