.rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rating__stars {
    white-space: nowrap;
}

.rating__star {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 7px;
    
    background-image: url("../images/star.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
}

@media screen and (max-width: 768px) {
    .rating__star {
        width: 20px;
        height: 20px;
        margin-right: 4px;

        background-size: 20px;
    }    
}