.card-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    color: var(--text-color, #3B3B3B);
    font-family: var(--text-family, sans-serif);
    font-size: var(--text-size-main, 18px);
    font-weight: var(--text-weight-main, 500);

    line-height: 1.5;

    background-color: var(--gray-lighter, #F7F7F7);
    border-radius: var(--border-radius, 12px);

    overflow: hidden;
}

.card-product__item-text {
    width: 57%;
    padding: 20px clamp(20px, calc(20px + 44 * (100vw - 768px) / 672), 64px);
}

.card-product__title {
    margin: 0 0 14px 0;

    font-size: var(--text-size-block-title, 32px);
    font-weight: var(--text-weight-bold, 600);

    line-height: 1.3;

    text-align: left;

    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

.card-product__rating {
    margin-bottom: 24px;
}

.card-product__subtitle {
    display: block;
    margin-bottom: 44px;

    font-weight: var(--text-weight-main, 500);

    line-height: 1.5;
}

.card-product__price {
    margin-bottom: 24px;

    font-size: 26px;
    font-weight: var(--text-weight-bold, 600);

    line-height: 1;
}

.card-product__priceold {
    margin-left: 14px;

    color: #9D9D9D;
    font-size: 21px;
    font-weight: var(--text-weight-main, 500);

    text-decoration: line-through;

    line-height: 1.15;
}

.card-product__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.card-product__button-buy {
    margin-right: 14px;
}

.card-product__item-image {
    width: 43%;
}

.card-product__image {
    display: block;
    width: 100%;
    height: auto;

    line-height: 0;

    border-radius: var(--border-radius-flex, 12px);
}

@media (max-width: 1024px) {

    .card-product__title {
        font-size: 24px;
    }

    .card-product__rating {
        margin-bottom: 10px;
    }

    .card-product__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }

    .card-product__price {
        margin-bottom: 30px;

        font-size: 20px;
    }

    .card-product__priceold {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .card-product {
        flex-direction: column;

        font-size: 16px;

        line-height: 24px;
    }

    .card-product__item-text {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }

    .card-product__title {
        margin: 0 0 18px 0;
    }

    .card-product__subtitle {
        margin-bottom: 20px;
    }

    .card-product__price {
        margin-bottom: 20px;
    }

    .card-product__item-image {
        width: 100%;
        max-width: 100%;
    }
}