.logo {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: auto;
    padding-top: 0;
}

.logo__image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 100px;
        padding-top: 6px;
    }    
}